@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --primaryColor:hsl(199,100%,33%);
    --secondaryColor:hsl(189,85%,43%);
    --gradientColor:linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(201,33%,16%);
    --textColor:hsl(240,4%,36%);
    --whiteColorDeam:hsl(0,0%,93%);
    --grayText:rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG:rgb(225,225,235);
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
li{
    display: inline;
    padding: 1rem .5rem;
    list-style-type: none;
}
.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.icon{
    display: inline;
    font-size: 2rem;
    cursor: pointer;
    color:var(--primaryColor);
}
.flex{
    display: flex ;
    align-items: center ;
}
.grid{
    display:grid;
    align-items: center; 
}
.btn{
    padding: .6rem 1.5rem;
    background:var(--gradientColor);
    border-radius: 2rem !important;
    
}
.btn:hover{
    background: linear-gradient(rgba(16, 80, 109, 0.65),rgba(9, 41, 145, 0.6));
}
.btn a{
    color: var(--whiteColor);
    font-weight: 500;
}


img, video{
    width: 100%;
    height: auto;
}
input{
    font-size: 100%;

}
body{
    background: var(--bodyColor);
}

/* media queries */

@media screen and (min-width:1240px) {
    .container{
        width: 80% !important;
        margin: auto !important;
    }
    .section{
        padding: 6rem 0 4rem;
    }
}

@media screen and (min-width:2560px) {
    body{
        zoom:1.7;
    }
}
